* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-transform: capitalize;
    margin-bottom: 20px;
}

#btn {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

#btn a {
    text-decoration: none;
    color:#000;
    font-size: 20px;
}
#btn:hover,
#btn:hover a {
    color: #fff;
    background: gray;
}

